.git
.github
.husky
node_modules
vendor
public/build
public/hot
bootstrap/cache/*.php
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
tests
*.md
.env
.env.example
.editorconfig
.gitattributes
.gitignore
.npmrc
Dockerfile
docker-compose.yml
*.xlsx
data
scripts
